<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="PersonSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpeg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">{{asociacion.name}}</span>
                            <span class="md-subhead">{{asociacion.detail_name}} {{asociacion.version}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Genero</label>
                                <input name="gender" ng-model="person.gender" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>DNI</label>
                                <input name="documento_identidad" ng-model="person.documento_identidad" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Nombre</label>
                                <input name="first_name" ng-model="person.first_name" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Otros nombre</label>
                                <input name="other_names" ng-model="person.other_names" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido paterno</label>
                                <input name="last_name" ng-model="person.last_name" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Apellido materno</label>
                                <input name="mother_last_name" ng-model="person.mother_last_name" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Fecha de nacimiento</label>
                                <input name="birth_date" ng-model="person.birth_date" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="person.id == null">Create</span>
                            <span ng-show="person.id">Actualizar</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>