<!-- Login -->
<div align="center">
    <!--<div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>
        <form name="form" method="post">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required  placeholder="Usuario"/>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="" required placeholder="Contraseña" />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
                <a href="#/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>-->
    <div class="col-md-6 col-md-offset-3">
            <h2>LOGIN</h2>
            <form name="form" method="post">
                <div class="input-group m-b-20">
                    <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required  placeholder="Usuario"/>
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                </div>
                <div class="input-group m-b-20">
                    <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required  placeholder="Contraseña"/>
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                </div>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <a href="" class="btn btn-login btn-danger btn-float" ng-click="login()">
                            <ng-md-icon icon="login"></ng-md-icon>
                        </a>
                        <md-button class="md-accent md-raised">Raised and Accent Button</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Older IE warning message -->
<!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
            <![endif]-->
